@font-face {
    font-family: 'Neuropolitical';
    src: url('Neuropolitical-Regular.woff2') format('woff2'),
        url('Neuropolitical-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

