/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* Variables */
  :root {
    --system-ui: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --btn-padding: 0.5em 1em;
    /* Colors */
    /* background */
    --ligth-gray: #F5F5F5;
    --off-white: #FFFFFF;
    /* Action (buttons) */
    --sky-blue: #4A90E2;
    /* Secondary */
    --soft-green: #7ED321;
    /* Text colors */
    --dark-gray: #333333;
    --medium-gray: #666666;
    /* Error or Warning Indicators: */
    --warm-red: #FF5A5F;
    --amber: #F8D22A;
    /* hover/focus */
    --light-blue: #E5F1FB;
  }

  /* Body */

  body {
    background-color: var(--ligth-gray);
    color: var(--dark-gray);
    font-family: var(--system-ui);
  }

  button {
    border-style: none;
  }

  /* Header */

  header {
    padding: 2em;
    background: linear-gradient(to right, var(--sky-blue), var(--soft-green));
  }


  .add-project {
    padding: 0.5em 1em;
    border: 2px solid var(--off-white);
    border-radius: 30px;
    background-color: var(--sky-blue);
    color: var(--off-white);
    cursor: pointer;
  }

  /* Add project modal */

  dialog {
    margin: 0 auto;
    top: 20vh;
    padding: 1.5em;
    border-radius: 30px;
    font-weight: 900;
    color: var(--dark-gray);
  }

  .project-form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
  }

  .project-form h2 {
    font-size: 2rem;
  }

  .project-form > div {
    display: flex;
    gap: 0.5em;
  }

  label[for=name] {
    font-size: 1.5rem;
  }

  input[type=text] {
    height: 40px;
    font-size: 1.5rem;
    padding-left: 0.2em;
    outline: none;
    border: 2px solid var(--medium-gray);
    border-radius: 10px;
    color: var(--dark-gray);
  }

  .project-form > div > button {
    font-size: 1.2rem;
    padding: var(--btn-padding);
    border-radius: 30px;
    color: var(--off-white);
    cursor: pointer;
  }


  .submit-project {
    background-color: var(--soft-green);
  }

  .close-project {
    background-color: var(--warm-red);
  }

  ::backdrop {
    background-color: var(--medium-gray);
    opacity: 0.7;
  }

