@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
      url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neuropolitical';
  src: url('./fonts/Neuropolitical-Regular.woff2') format('woff2'),
      url('./fonts/Neuropolitical-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* Variables */
  :root {
    --system-ui: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --btn-padding: 0.5em 1em;
    /* Colors */
    /* background */
    --ligth-gray: #f5f5f5;
    --off-white: #FFFFFF;
    /* Action (buttons) */
    --sky-blue: #4A90E2;
    /* Secondary */
    --soft-green: #7ED321;
    /* Text colors */
    --dark-gray: #333333;
    --medium-gray: #666666;
    /* Error or Warning Indicators: */
    --warm-red: #FF5A5F;
    --amber: #F8D22A;
    /* hover/focus */
    --light-blue: #E5F1FB;
  }

  /* Body */

  body {
    background: linear-gradient(to right, var(--sky-blue), var(--soft-green));
    color: var(--dark-gray);
    font-family: 'Roboto', var(--system-ui);
  }

  button {
    border-style: none;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 30px;

  }

  /* Header and footer*/

  header,
  footer {
    grid-column: 1/3;
    background: linear-gradient(to right, var(--sky-blue), var(--soft-green));
  }

  header {
    grid-row: 1/2;
    padding: 2em;
  }

  .logo-icon {
    text-align: center;
    align-items: center;
    font-weight: 900;
    font-size: 28px;
    border-radius: 50%;
    background-color: var(--soft-green);
    border: 2px solid var(--off-white);
    width: 40px;
    height: 40px;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .logo-text {
    font-family: 'Neuropolitical';
    color: var(--off-white);
    text-shadow: 2px 2px 2px var(--dark-gray);
  }

  footer { 
    grid-row: 3/4;
    text-align: center;
    font-size: 1.5rem;
  }

  /* Add project modal */

  dialog {
    margin: 0 auto;
    top: 20vh;
    padding: 1.5em;
    border-radius: 30px;
    font-weight: 900;
    color: var(--dark-gray);
  }
  
  .project-form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
  }

  .project-form h2 {
    font-size: 2rem;
  }

  .project-form > div {
    display: flex;
    gap: 0.5em;
  }

  label[for=name] {
    font-size: 1.5rem;
  }

  input[type=text] {
    height: 40px;
    font-size: 1.5rem;
    padding-left: 0.2em;
    outline: none;
    border: 2px solid var(--medium-gray);
    border-radius: 10px;
    color: var(--dark-gray);
  }

  .project-form > div > button,
  .task-btns > button {
    font-size: 1.2rem;
    padding: var(--btn-padding);
    border-radius: 30px;
    color: var(--off-white);
  }


  .submit-project,
  .submit-task {
    background-color: var(--soft-green);
  }

  .close-project,
  .close-task {
    background-color: var(--warm-red);
  }

  ::backdrop {
    background-color: var(--medium-gray);
    opacity: 0.7;
  }

  /* Content container */

  #page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }

  .icons {
    width: 2em;
  }

  /* aside */

  aside {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    background-color: var(--light-blue)
  }


  .add-project {
    display: flex;
    gap: 0.5em;
    font-size: 1.25rem;
    font-weight: 900;
    align-items: center;
    color: var(--dark-gray);
    background-color: var(--light-blue);
  }

  .project-btn,
  .add-project {
    transition: transform 0.3s ease-in-out;
  }

  .add-project:hover,
  .project-btn:hover {
    transform: scale(1.2); /* Zooms in by 20% */
}

  .my-projects {
    display: grid;
    grid-template-rows:  repeat(3, 1fr);
    gap: 1em;
  }

  .project-btn {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--dark-gray);
    background-color: var(--light-blue);
  }

  .project-btn:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  /* Add task modal */

  .task-form > h1 {
    color: var(--dark-gray);
    font-size: 1.725rem;
  }

  fieldset {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
    margin: 1em 0;
    border-style: none;
  }

  fieldset > div,
  .time > div {
    display: grid;
    grid-template-rows: 1fr 2fr;
  }

  .time {
    display: flex;
    gap: 1em;
  }

  .task-btns {
    display: flex;
    gap: 0.5em;
  }

  /* main */
  main {
    padding: 2em 5em 2em 2em;
    background-color: var(--ligth-gray);
  }

  .active-project {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--medium-gray);
  }

  .add-task {
    background-color: var(--sky-blue);
    color: var(--off-white);
  }

  .view-tasks {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    margin-bottom: 3em;
    gap: 2em;
  }

  .upcoming-container > div,
  .today-container > div,
  .tasks-done > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .upcoming-container > h1,
  .today-container > h1,
  .tasks-done > h1 {
    color: var(--medium-gray);
    margin: 1em 0;
  }

  .card-container {
    display: grid;
    grid-template-rows: auto auto;
    font-size: 1.6rem;
    padding: var(--btn-padding);
    box-shadow: 0 2px 5px var(--medium-gray);
  }

  .task-card {
    display: grid;
    grid-template-columns: 45px 16em 8em 2em 3.125em;
    gap: 1em;
  }

  .priority-div {
    align-content: center;
    justify-items: center;
  }

  .priority-ball {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }


  .details-btn {
    cursor: pointer;
    justify-self: center;
  }

  .details {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    opacity: 1;
    transition: 0.5s ease-in-out; 
  }

  .task-info {
    padding: 1em 0;
    display: flex;
  }

  .hide {
    opacity: 0;
    max-height: 0;
    pointer-events: none; 
  }

  .remove-project,
  .remove-task,
  .edit-btn {
    color: var(--off-white);
    padding: var(--btn-padding);
    font-size: 1rem;
  }

  .remove-project,
  .remove-task {
    background-color: var(--warm-red);
  }
  
  .edit-tasks {
    display: flex;
    gap: 0.5em;
    padding-bottom: 1em;
  }

  .edit-btn {
    background-color: var(--sky-blue);
  }

  .complete-div {
    align-content: center;
    justify-content: center;
  }

  .complete-btn {
    align-content: start;
    padding: var(--btn-padding);
    border: 2px solid var(--dark-gray);
    border-radius: 0;
    background-color: va;
    font-size: 1rem;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0;
    width: 40px;
    height: 40px;
  }

  /* .complete-btn.done {
    background-color: var(--soft-green);
  }

  .complete-btn.not-done{
    background-color: var(--warm-red);
  } */

  .complete-btn:disabled {
    border-color: #a0a0a0;
  }